<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

</html>

<head>
    <title>index </title>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>
        hello World!!!
    </h1>
    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <table border="1">

            <thead>
                <tr>
                    <th>Categorie</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="categorie: ${list}">
                    <td><input type="text" name="nom" th:value="${categorie.libelle}"> </td>
                    <input type="hidden" name="id" th:value="${categorie.id}">
                    <td>
                            <button><a href="modifyCategorie?"+th:value="${categorie.id}" >Modifer</a></button>
                    </td>
                </tr>
                <!-- <tr th:each="categorie: ${list}">
                    <td><input type="text" th:field="*{libelle}" th:value="${categorie.libelle}"  ></td>
                      <td>
                        <button>Modifer</button>
                        <button><a href="">Supprimer</a></button>
                    </td>
                </tr>  -->
            </tbody>
        </table>
    </div>
</body>

</html>